/**
 * Styles appliqués à l'editeur
 * 
 * @package WordPress
 * @subpackage _basique-enfant
 **/


/** =Base
 *************************************/
 
/* .editor-styles-wrapper sera substitué à body et précédera toutes les autres déclarations */
body {font-family: 'Lato';}

 /* Titre du post */
.editor-post-title__block {}
    .editor-post-title__input {font-family: 'Lato';}


/** =Block natifs modifiés
 *************************************/

/* Styles alternatifs pour les titres */
h1.is-style-alt,
h2.is-style-alt,
h3.is-style-alt,
h4.is-style-alt,
h5.is-style-alt,
h6.is-style-alt {font-weight: normal;}

/* Bouton pleine largeur */
div[data-type="core/button"] div[data-block],
.wp-block-button.is-style-full .wp-block-button__link,
.wp-block-button.is-style-full .block-editor-rich-text {width: 100%;box-sizing: border-box;}

